.imgArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
}

.imgAreaLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
  width: 180px;
  height: 40px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 180px;
    bottom: 0px;
    border: 20px solid transparent;
    border-bottom: 20px solid #bfbfbf;
    border-left: 20px solid #bfbfbf;
  }
  &:hover {
    cursor: pointer;
    background-color: #7ea9fd;
    &:after {
      content: "";
      position: absolute;
      left: 180px;
      bottom: 0px;
      border: 20px solid transparent;
      border-bottom: 20px solid #7ea9fd;
      border-left: 20px solid #7ea9fd;
    }
  }
}

.imgAreaRight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
  width: 180px;
  height: 40px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0px;
    border: 20px solid transparent;
    border-right: 20px solid #bfbfbf;
    border-bottom: 20px solid #bfbfbf;
  }
  &:hover {
    cursor: pointer;
    background-color: #ffa2a2;
    &:before {
      content: "";
      position: absolute;
      left: -40px;
      bottom: 0px;
      border: 20px solid transparent;
      border-right: 20px solid #ffa2a2;
      border-bottom: 20px solid #ffa2a2;
    }
  }
}

.cardsArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

h4 {
  color: black;
  font-family: Roboto-Bold;
  font-weight: 700;
  size: 20px;
  line-height: 23.44px;
}

#hidden {
  display: none;
}
